@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,700;1,300&display=swap');

:root{
    --clr-grey-bg: #e3e3e3;
    
}
body{
    font-family: 'Raleway', sans-serif;
}
.article{
    height: 30%;
    background-color: var(--clr-grey-bg);
    overflow: hidden;
    margin:30px ;
}

.article .nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
}
.article .nav .menu{
font-size: 13px;
padding: 0 10px;
}
.article .nav .fa-solid.fa-bars{
    font-size: 20px;
}
.article .container-img-desc{
    display: flex;
}
.article .container-img-desc .article__desc{
    margin: 30px 0px;
    padding : 50px 75px;
    width: 50%;

}
.desc__title {
    font-size: 25px;
    margin-bottom: 15px;
}
.bold{
    font-weight: bold;
}
.article .container-img-desc .article__desc .desc__info {
    font-size: 15px;
    font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 20px;
    
}
.article.one .container-img-desc .img-container{
    padding : 50px 75px 0px 30px;
    width: 50%;
    

}

.article.one .container-img-desc .img-container img{
 
    width: 100%;
    height: 100%;
    object-fit:cover;

}


/* second article*/
.article.two .container-img-desc{
    flex-direction: row-reverse;
}

.article.two .hr-line{
    
    width: 40px; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px  15px 30px 0px; 
}

.article.two .title-container{
    display: flex;
}

.empty{
    color: var(--clr-grey-bg);
    height: 20px;
}


.article.two .container-img-desc .img-container{
    padding : 50px 30px 50px 75px;
    width: 50%;

}
.article.two .container-img-desc .img-container img{
 
    width: 100%;
    height: 100%;
    object-fit:contain;

}
.article.two .container-img-desc .article__desc{
  padding-left: 40px;

}
.article.two .container-img-desc .desc__info{
 
    margin-bottom: 35px;

}
.article.two ul{
    display: flex;
    gap: 20px
    
}
.article.two .box{
    background-color: grey;
    color: white;
    padding: 10px;
}