@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,700;1,300&display=swap');


:root {
    --clr-grey-bg: #e3e3e3;
}

body {
    font-family: 'Raleway', sans-serif;
}

.article {
    background-color: var(--clr-grey-bg);
    margin: 30px;
    height: 450px;
}

/* 
---------------------
    Divider
----------- ---------
*/
.divider {
    background-color: #000;
}

.divider.divider--vertical {
    width: 1px;
    height: 4rem;
}

.divider.divider--horisontal {
    height: 1px;
    width: 4rem;
}

.article.one {
    height: 480px
}

.article .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.article .nav .menu {
    font-size: 13px;
    padding: 10px 10px;
}

.article .nav .fa-solid.fa-bars {
    font-size: 20px;
}

.article .container-img-desc {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 450px;
}

.article.one .container-img-desc {
    grid-auto-rows: 425px;
}

.article .container-img-desc .article__desc {
    margin: 30px 0px;
    padding: 50px 75px;
    max-height: 450px;
    overflow: hidden;
}

.article .container-img-desc .article__desc .desc__info {
    margin-bottom: 10px;
}

.desc__title {
    font-size: 25px;
   margin-bottom: 15px;
   margin-top: 15px;
}

.bold {
    font-weight: bold;
}

.article .container-img-desc .article__desc .desc__info {
    font-size: 15px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 20px;
}


.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* second article*/

.article.two .hr-line {
    /* width: 40px;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 15px 15px 30px 0px; */
    width: 3rem;
    height: 1px;
    background-color: black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto; 
    margin-right: 10px;
}

.article.two .title-container {
    display: flex;
}

.empty {
    color: var(--clr-grey-bg);
    height: 20px;
}

.article.two .container-img-desc {
    margin: auto 0px;
}

.article.two .container-img-desc .img-container {
    padding: 20px;
}

.article.two .container-img-desc .img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article.two .container-img-desc .article__desc {
    padding-left: 40px;
    margin: 0px;
}

.article.two .container-img-desc .desc__info {
    margin-bottom: 35px;
}

.article.two ul {
    display: flex;
    gap: 20px
}

.article.two .box {
    background-color: grey;
    color: white;
    padding: 10px;
}

/* article three */

.article.three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* article four */
.article.four .container-img-desc .img-container img {
    width: 80%;
    height: 80%;
    margin: auto;
}

.article.four .container-img-desc .img-container {
    display: flex;
}

/* article five */
.article.five .img-container {
    display: flex;
    align-items: center;
    height: 450px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.article.five .img {
    display: inline;
    object-fit: contain;
}

.article.five .img.balloon {
    height: 80%;
    width: 80%;
    z-index: 3;

}

.article.five .img.bridge {
    height: 60%;
    width: 60%;
    margin-right: -30%;
}

.article.five .img.river {
    height: 60%;
    width: 60%;
    margin-left: -30%;
}

/* article six */
.article.six{
    text-align: center;
    
}
.article.six .container-desc{
    padding: 30px;
    margin: 0 auto;
  max-width: 900px;
   
}
.article.six .container-desc .desc__info{
 font-size: 13px;
 font-style: italic;
 line-height: 20px;
 width: 80%;
margin: 0 auto;
 margin-bottom: 30px;
}

.article.six .container-desc .form.message{
    width: 60%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "email subject"
    "msg msg"
    "btn btn";
}
.article.six .container-desc .form.message > *{
   border: solid 1px black;
   padding: 8px 10px;
}

.article.six .container-desc .form.message .email{
    grid-area: email;
}
.article.six{
    margin-bottom: 0px;
}

/* footer */

.footer{
    background-color:var(--clr-grey-bg);
    font-size: 10px;
    padding: 10px;
    margin: 0px 30px;
    margin-bottom: 30px;
    text-align: center;
}

.article.six .container-desc .form.message .subject{
    grid-area: subject;
}
.article.six .container-desc .form.message .message{
    grid-area: msg;
}
.article.six .container-desc .form.message .btn{
    grid-area: btn;
    background-color: black;
    color: white;
}